* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}

/* header style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.logo img {
    height: 50px;

}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 50px;
}

.nav-list li a {
    text-decoration: none;
    color: #353434;
    font-size: 24px;
}

.nav-list li a:hover {
    text-decoration: underline;
    text-decoration-color: #93959dcc;
}

.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

/* nav footer style */
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    display: none;
}

.nav-item-bottom {
    text-decoration: none;
    color: #353434;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* products */
.products-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.product-card {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    margin: auto;
}

.product-card img {
    width: 100%;
    height: 220px;
}

.product-card img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid #1422b9;
    padding:3px 10px;
    border-radius: 15px;
    margin-top: 10px;
    color: #1422b9;
    

}
.condition {
    background-color: #2444d3c3;
    position: absolute;
    top: 10px;
    right: 6px;
    width: 80px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.937);
    padding: 3px;
    text-align: center;
    font-weight: bold;
}


.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #db1d1d;
}

.product-des {
    font-size: 18px;
    margin-top: 10px;
}

.btn:hover {
    background-color: #1325e22d;
    cursor: pointer;
}

/* style for product detail page */

.home {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #353434;
    border: 2px solid #353434;
    padding: 5px 10px;
    border-radius: 10px;
}
.home:hover {
    background-color: #353434;
    color: #ffffff;
}
.container{
  width: 80%;
  margin: 10px auto;
}

.product-detail{
  display: grid;
  grid-template-columns: 60% 40%; 
  gap: 40px;

}

.product-gallery{
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
}

.thumbnail{
    max-height: 450px;
    overflow-y: auto;
    direction: rtl;
}

.thumbnail img{
  width: 80px;
  height: 100px;
}

.main-product img{
  width: 100%;
  height: 450px;
}

.product-info h3{
    font-size: 28px;
    margin-bottom: 15px;
}

.related{
    margin-top: 30px;
}

.related h3{
  border-left: 5px solid red;
  padding-left: 15px;
}

.related-grid{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.related-card{
  border: 2px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.related-card img{
  width: 100%;
  height: 200px;
}

.active {
    color: blue;
}


@media (max-width: 1200px) {
    .products-display {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1023px) {
    .products-display {
        grid-template-columns: repeat(4, 1fr);
    }

    /* .main-product img{
        height: 300px;
    } */

    .product-detail {
        grid-template-columns: 1fr;
    }

     .related-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 768px) {
    .products-display {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn {
        font-size: 16px;
        padding: 2px 20px;
    }

    .nav-list li a {
        display: none;
    }

    .menu-icon, .nav-bottom {
        display: flex;
        z-index: 1;
    }

    .product-gallery {
        grid-template-columns: 1fr;
    }

    .product-detail {
        grid-template-columns: 1fr;
    }

    .related-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-product img{
        height: 350px;
    }
    .product-info h3{
        font-size: 22px;
    }

    .main-product {
        order: 1;
    }
    .thumbnail {
        order: 2;
        display: flex;
        max-width: 450px;
        overflow-x: auto;
        direction: ltr;
        gap: 10px;
    }
}